.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10000;
}

.ModalBox {
  width: fit-content;
  position: relative;
  min-width: 250px;
  min-height: 100px;
  padding: 16px;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px 3px;
}

.closer {
  position: relative;
  top: 0px;
  left: calc(100% - 16px);
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.closer:hover {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 600px) {
  .ModalBox {
    max-width: 90%;
  }
}
