.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.ModalBox {
  width: fit-content;
  min-width: 280px;
  min-height: 100px;
  padding: 16px;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
}

.closer {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.closer:hover {
  width: 24px;
  height: 24px;
}
