@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;900&display=swap');

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  margin: 0;
  background-image: url('./Assets/bg.png');
}

button {
  padding: 8px 16px 8px 16px;
  transition: 0.4s;
  background-color: snow;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: slategray;
  border-color: slategray;
  cursor: pointer;
}

button:hover {
  background-color: rgb(219, 237, 248);
  color: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
}

a {
  text-decoration: none;
  color: slategray;
  transition: 0.4s;
}

a:hover {
  color: rgb(0, 140, 255);
}

select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
  font-size: 16px;
}
