@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;900&display=swap');

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  margin: 0;
}

button {
  padding: 8px 16px 8px 16px;
  transition: 0.4s;
  background-color: snow;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: slategray;
  border-color: slategray;
  cursor: pointer;
}

button:hover {
  background-color: pink;
  color: red;
}

a {
  text-decoration: none;
  color: slategray;
}
